src/main/mule/get.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:coupa="http://www.mulesoft.org/schema/mule/coupa" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/coupa http://www.mulesoft.org/schema/mule/coupa/current/mule-coupa.xsd">
	<flow name="getLookupValuesBy-external-ref-code"
		doc:id="ff50f6cf-4a78-4bda-b376-3cbd05a050db">
		<http:listener doc:name="Listener"
			doc:id="313940c6-6d68-41c2-bba0-8d2ebd515a7e"
			config-ref="HTTP_Listener_config" path="getLookupValuesBy-external-ref-code" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger"
			doc:id="c26aee9a-8ccc-4953-b78a-7749d7208277"
			message="#[&quot;++++++++++++++++ Request received for fetching lookupValue with external-ref-code: &quot; ++ attributes.queryParams.'external-ref-code' ++ &quot;++++++++++++++++&quot;]" />
		<http:request method="GET" doc:name="Request"
			doc:id="e1f917d5-c8ce-4b4d-a4d2-2ea7d3bf23c4"
			path="${secure::http.requester.lookupValuespath}"
			config-ref="HTTP_Request_configuration_Coupa" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	"external-ref-code" : attributes.queryParams.'external-ref-code'
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger"
			doc:id="81968e8f-edc0-46ed-a179-6b47772da623"
			message='#["++++++++++++++++ Lookup Value fetched successfully +++++++++++++++++++"]' />
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error propagate"
				doc:id="5b5fd67a-7026-47ce-84eb-37474fcee8c5">
				<logger level="ERROR" doc:name="Logger"
					doc:id="5c1e0ce7-a66e-4bbc-b247-756153f73166"
					message="#[error.exception.errorMessage.typedValue]" />
			</on-error-propagate>
		</error-handler>
	</flow>

	<flow name="getPaidSimpleLegalInvoiceCoupa"
		doc:id="e63f5de4-ed08-46b9-b004-48dba89f0641">
		<http:listener doc:name="Listener"
			doc:id="5622de55-51f4-4fc8-ad65-e49e65231e65"
			config-ref="HTTP_Listener_config" path="getPaidSimpleLegalInvoiceCoupa" />
		<logger level="INFO" doc:name="Logger"
			doc:id="772b30da-0a52-4ee2-a09d-61fef2940826"
			message='Request received to get Fully Paid SimpleLegal Invoice from Coupa ' />
		<http:request method="GET" doc:name="Request"
			doc:id="de0506a9-3d8b-4b93-b549-72c834493e8b"
			config-ref="HTTP_Request_configuration_Coupa" path="${secure::http.requester.invoicesPath}">
			<http:query-params><![CDATA[#[output application/java
---
{
	"custom-fields[simplelegal-payment-sync]" : "false",
	"pay-invoice[status][in]" : "fully_paid",
	"custom-fields[simplelegal-invoice]" : "true"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger"
			doc:id="54c891ad-7b4c-497f-85e3-90ec6e6ddc51"
			message='++++++++++++++++ Fully Paid SimpleLegal Invoice from Coupa fetched successfully +++++++++++++++++++' />
		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error propagate"
				doc:id="725f4f43-c7bc-4bbf-8990-d4fa9736fc50">
				<logger level="ERROR" doc:name="Logger"
					doc:id="0bcc93a7-749f-4132-be61-f73b527c6212"
					message="#[error.exception.errorMessage.typedValue]" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
